html {
  box-sizing:border-box;
 }
 
 *, *:before, *:after {
   box-sizing: inherit;
 }

 h3, h4 {
   margin:12px;
 }

.about {
 grid-area: about;
 background-color: rgba(168, 94, 94, 0.5);
}
.about__article {}

.about__article-heading {
  padding-top:16px;
}

.about__heading {}

.about__section {}

.about__photo {
  float:left;
  width:300px;
 margin:16px;
 border-radius:16px;

 
}



.about__photo:hover {
  opacity:75%;
}


.about__description {}

body {
 
}

.contact {
  grid-area:contact;
  background-color: rgba(218, 13, 13, 0.5);
}

.header {
  margin-bottom:16px;
}

.header__heading {
  color: #000;
  text-align:center;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin: 0;
   
}

.header__paragraph {
  color: #000;
  text-align:center;
  margin:0;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.headings {
  text-align: center;
  font-size:24px;
  font-family: 'Lato', sans-serif;
}

.little-headings {
  text-align: center;
}



.main {
  font-family: 'Lato', sans-serif;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:"about" "sourdough" "recipes" "contact";
  width:100%;
  

}

.main__header {
  
}

.main__heading {
  
}

.main__heading:hover {
color:#9e6820 ;
font-weight:bold;
}


.main__paragraph {

  
}

.main__paragraph:hover {
 
  
}


.navigation {
  display:inline-block;
  text-align:center;
  backdrop-filter: blur(20px);
  min-height:35px;
  position:sticky;
  top:0;
  
}

.navigation__link {
  color:#000;
  text-decoration: none;
  padding: 0 8px 0 8px;
  text-transform: uppercase;
  font-family: 'Dancing Script', cursive;
 
}

.navigation__link:hover {
  color:#e98f1b ;
  font-weight:bold;
  
}



.recipes {
  grid-area:recipes;
  background-color: rgba(214, 159, 159, 0.5);
}

.recipes__section {}

.recipes__heading {}

.recipes__article {}

.recipes__article-heading {}

.recipes__description {}

.section {
 

  padding:16px;

  
  text-align: left;
  min-height:10vh;
}

.sourdough {
grid-area:sourdough;
background-color: rgba(167, 29, 29, 0.719);
}

.sourdough__section {}

.sourdough__heading {}

.sourdough__article {}

.sourdough__article-heading {}

.sourdough__description {}

.footer {
 background-color: #312402;
 color: #fff;
 text-decoration: none;
}

.footer__link {
  color: rgb(231, 197, 159);
 text-decoration: none;
}