body {
    background: #9ccdff;
}

.main-section {}

.main-header {
    
}

.main-heading {
    color:#e7e421;
}


.top-navigation {
    background: #3376b6;
}

.top-nav-link {
    color: #e7e421;
}

.nav-header {}

.site-footer {
    background: #3376b6;
    color: #e7e421;
}

.section-header {
    color: #3376b6;
}

.article-header {
    color: #3376b6;
}