html {
  box-sizing: border-box;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}


.about {
  grid-area: about;
  background-color: rgba(214, 159, 159, 0.5);
 
}

.about__article {}



.about__photo {
  max-width:320px;
}

.about__photo:hover {
  opacity: 75%;
}

.about__description {}

body {}

.contact {
  grid-area: contact;
  background-color: rgba(214, 159, 159, 0.781);
}

.header {
  margin-bottom: 16px;
  
}

.dashed {
  border-bottom: 3px dotted rgba(218, 13, 13, 0.5);
  position: sticky;
  top: 35px;
  
}

.header__heading {
  color: #000;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin: 0;
  line-height: 1.10;
  padding-top:35px;
}

.header__paragraph {
  color: #000;
  text-align: center;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.headings {
  text-align: center;
  font-size: 30px;
  font-family:'Dancing Script', cursive;
  margin:0;
 
}


.little-headings {
  text-align: center;
  margin:8px;
}

.main {
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 64px 1fr 64px 1fr 64px 1fr;
  grid-template-areas: "about" "clown" "sourdough" "nose" "recipes" "tits" "contact";
  width: 100%;
  background-image:url(bakery.jpg);
background-position: center;
background-size:cover;
}





.main__header {}

.main__heading {}

.main__heading:hover {
  color: #9e6820;
  font-weight: bold;
}

.main__paragraph {}

.main__paragraph:hover {}

.navigation {
  display: inline-block;
  text-align: center;
  backdrop-filter: blur(20px);
  min-height: 35px;
  position: fixed;
  top: 0;
}

.navigation__link {
  color: #000;
  text-decoration: none;
  padding: 0 8px 0 8px;
  text-transform: uppercase;
  font-family: 'Dancing Script', cursive;
}

.navigation__link:hover {
  color: #e98f1b;
  font-weight: bold;
}

.recipes {
  grid-area: recipes;
  background-color: rgba(214, 159, 159, 0.5);
}

.recipes__section {}

.recipes__heading {}

.recipes__article {}

.recipes__article-heading {}

.recipes__description {}

.section {
  padding: 16px;
  text-align: left;
  min-height: 10vh;
}

.sourdough {
  grid-area: sourdough;
  background-color: rgba(214, 159, 159, 0.5);

}

.sourdough__section {}

.sourdough__heading {}

.sourdough__article {}

.sourdough__article-heading {}

.sourdough__description {}

.footer {
  background-color: #312402;
  color: #fff;
  text-decoration: none;
  
}

.footer__link {
  color: rgb(95, 85, 73);
  text-decoration: none;
  
}

.fars {
font-size:1,5rem;
position:fixed;
bottom: 36px;
right:24px;

}

.fa {
  color:black;
  
}